*{margin: 0; padding: 0; box-sizing: border-box;}
:root{
  --main-bg:#F9F7F7
}
.App {
  background: var(--main-bg) ;
  min-height: 100vh;
  font-family: 'Sansita Swashed', cursive;
}
.pointer{
  cursor: pointer;
}
